#overlay-labels {
  width: 800px;
  height: 60px;
  font-family: 'Courier New', Courier, monospace
}

#video-container {
  position: relative;
  width: 800px;
}

#faces-container {
  position: relative;
  float: right;
}

.overlay-celebrity {
  position: absolute;
  border: 1px solid green;
  color: green;
}

.overlay-face {
  position: absolute;
  border: 1px solid;
}
.overlay-face > span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay-person {
  position: absolute;
  border: 1px solid;
}

.left {
  width: 800px;
  float: left;
}
.right {
  float: left;
  margin-top: 90px;
}

.color1 {color: black; border-color: black;}
.color1 {color: blue; border-color: blue;}
.color2 {color: brown; border-color: brown;}
.color3 {color: darkgreen; border-color: darkgreen;}
.color4 {color: darkorange; border-color: darkorange;}
.color5 {color: fuchsia; border-color: fuchsia;}
.color6 {color: limegreen; border-color: limegreen;}
.color7 {color: teal; border-color: teal;}
.color8 {color: yellow; border-color: yellow;}
.color9 {color: lightpink; border-color: lightpink;}
.color10 {color: sienna; border-color: sienna;}
