#overlay-labels {
  width: 800px;
  height: 60px;
  font-family: 'Courier New', Courier, monospace
}

#video-container {
  position: relative;
  width: 800px;
}

#faces-container {
  position: relative;
  float: right;
}

.overlay-celebrity {
  position: absolute;
  border: 1px solid green;
  color: green;
}

.overlay-face {
  position: absolute;
  border: 1px solid orangered;
  color: orangered;
}
.overlay-face > span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay-person {
  position: absolute;
  border: 1px solid purple;
  color: purple;
}

.left {
  width: 800px;
  float: left;
}
.right {
  float: left;
  margin-top: 90px;
}
